<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<title>Delete a Questionnaire</title>
	</head>
	<body>
		<h1>Deletion Page</h1>
		<h3>Select the ID of the questionnaire you want to remove</h3>
		<form action="DeleteQuestionnaire" method="POST">
			Questionnaire ID: <input type="text" id="questionnaireID" name="questionnaireID"><br>
			<input type="submit" value="Delete Questionnaire" id="deleteQuestionnaire" name="deleteQuestionnaire">
		</form>
		<br><br>
		<table>
			<thead>
				<tr>
					<th>ID</th>
					<th>Date</th>
					<th>Product</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="q : ${questionnaires}">
					<td th:text="${q.getID()}"></td>
					<td th:text="${q.getDate()}"></td>
					<td th:text="${q.getProduct().getName()}"></td>
				</tr>
			</tbody>
		</table>
	</body>
</html>